*{
	margin:0;
	padding:0;
}
.row {
  
    background-color: #8080801f;
}
.sign-up{
	background: #fff;
    padding: 13px;
    border-radius: 5px;
    margin:20px;
}
.text_sign-up{
	padding: 50px;
	text-align: center;
	color: gray;
	font-weight: 400;
}
label {
   
    color: gray;
    font-weight: 400;
}
.btn-danger {
    background-color: #0372f2;
    border-color: #0372f2;
}